.transaction-table-row, .transaction-table-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.transaction-table-header {
    padding: 1em 0;
    font-weight: bold;
}

.transaction-table-row .approved-transaction {
    width: 15px;
    height: 15px;
    background: green;
}

.transaction-table-row .pending-transaction {
    width: 15px;
    height: 15px;
    background: red;
}