.user-dash {
    width: 100%;
    height: 100%;
}

.user-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 2fr 1fr;
}

.user-transactions {
    height: 100%;
    overflow: scroll;
}

.transaction-table-header, 
.transaction-table-row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.transaction-table-header {
    padding: 1em 0;
    font-weight: bold;
}

.transaction-table-body {
    height: 100%;
}

.transaction-table-row {
    padding: 0.5em 0;
    border-bottom: 1px solid #d3d3d3;
}

.points-total {
    padding-top: 1.5em;
    color: #03dac6;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.spinner span {
    font-size: 2rem;
    animation: fade 1s linear 0s infinite;
    padding-right: 1rem;
}

.half-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #bb86fc;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;
}

.completed {
    font-size: 2rem;
    color: #bb86fc;

    animation: bigger 1s linear;
}

@keyframes bigger {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(2);
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}