html, body {
    font-family: Helvetica, Arial, sans-serif;
    background: #121212;
}

.dash-wrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
}

.dash-wrapper {
    flex-direction: column;
    width: 442px;
    height: 85vh;
    padding: 2em;
    background: #404040;
    color:#f9f9f9;
    overflow:scroll;
}

.button-row {
    display: flex;
    gap: 2em;
    width: 100%;
    margin-top: 3em;
}

.error-block {
    padding-bottom: 3em;
    text-align: center;
}

.purchases-button,
.points-button {
    width: 100%;
    padding: 0.5em;
    background: transparent;
    border-radius: 0;
    border: 2px solid #000;
    color: #000;
    transition: 0.3s all;
    cursor: pointer;
}

.purchases-button:hover,
.points-button:hover {
    border: 2px solid orange;
    color: orange;
}
