html, body {
    font-family: Helvetica, Arial, sans-serif;
    background: #f5f5dc;
    background: #f7e7ce;
}

.app-stage, 
.dash-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-stage {
    height: 100vh;
}

.dash-wrapper {
    width: 442px;
    height: 85vh;
    overflow: scroll;
    padding: 2em;
    background: #f9f9f9;
}