html, body {
    font-family: Helvetica, Arial, sans-serif;
    background: #FAF9F6;
}

.app-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-wrapper {
    width: 442px;
    height: 85vh;
    border-radius: 2em;
    padding: 2em;
}